/* リセット */

html, body{
  margin:0;
  padding:0;
}

* {
  color:#333;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color:inherit;
}

h1, h2, p {
  padding:0;
  margin:0;
}

/* ヘッダー */

header {
  width: 100%;
  height: 80px;
  overflow: hidden;
  /* background-color: #ccffcc; */
  background-color: #447744;
}

.head-container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  padding: 5px 40px;
  display: flex;
}

.icon {
  height: 70px;
  width: auto;
  border-radius: 50%;
}

.title {
  height: 100%;
  margin-left: 30px;
  font-size: 48px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #225522;
  color: white;
}

.select {
  color: white;
  margin: 15px 0 0 80px;
  padding-top: 10px;
  font-size: 24px;
}

.time {
  font-size: 32px;
  padding: 3px 10px;
  transform: translateY(-8px);
  border-radius: 5px;
}

.main-container {
  width: 1000px;
  height: calc(100vh - 80px);
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  background-color: black;
  background-color: #ccffcc;
}

.description, .theme, .result {
  background-color: white;
  width: 920px;
  margin: 10px auto 0;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 0 20px #669966;
}

.theme {
  margin-top: 20px;
  text-align: center;
  background-color: #eee;
}

.japanese {
  margin: 10px 0;
  font-size: 32px;
  font-weight: bold;
}
.alphabet {
  margin: 10px 0;
  font-size: 24px;
  /* font-weight: bold; */
}

.timer {
  position: relative;
  display: block;
  width: 900px;
  height: 40px;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 10px;
}
.timer-back {
  position: absolute;
  width: 900px;
  height: 40px;
  padding: 2px;
  background-color: yellow;
  border:4px solid #ffaaaa;
  border-radius: 10px;
  color: #ff8888;
  font-weight: bold;
  font-size: 24px;
}

.timer-bar {
  position: absolute;
  background-color: #ffaaaa;
  width: 0;
  height: 40px;
  padding: 2px;
}

.timer-text {
  position: absolute;
  width: 900px;
  height: 40px;
  padding: 7px;
  font-weight: bold;
  color: red;
}

.result {
  display: flex;
  justify-content: space-between;
  width: 900px;
  box-shadow: none;
  padding: 5px;
  border: 2px solid #ccc
}

.correct, .failure, .complete, .percentage {
  display: flex;
  margin: 20px 10px 0;
  font-size: 18px;
  font-weight: bold;
}

#correct, #failure, #complete, #percentage {
  font-size: 32px;
  font-weight: bold;
  color: #ff5555;
  background-color: #ccffcc;
  margin: -20px 2px 0;
  padding: 2px;
  width: 120px;
  text-align: right;
  border-radius: 10px;

 }

.banner {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  width: 920px;
  height: 300px;
  background-color: black;
  margin: 40px auto 20px;
  box-shadow: 0 0 20px #669966;
}