* {
  color:gray;
}

html, body , h1 {
  margin:0;
  padding:0;
  height: 100%;
}
.slide {
  background-image: url('01.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color:darkslategray;
}

#bodycover{
  height: 100%;
  background-color:rgba(0,0,0,0.5);
}

.container {
  margin:0 120px;
}

header {
  height: 10% ;
  background-color:rgba(0,0,0,0.1);
  display: block;
  color:white;
}

.clock {
  background-color:rgba(100, 100, 255, 0.1);
  float:left;
  height: 85%;
  width:50%;
  display: none;
}

.uranai {
  font-size:30px;
  background-color:rgba(0,0,0,0.1);
  float:left;
  height: 85%;
  width: 100%;
  /* width:50%; */
}

.uranai button {
  font-size:30px;
  background: black;
  border:gray;
  height: 2em;
  width:300px;
}

footer {
  clear:left;
  height: 5%;
  background-color: black;
  display: block;
}

